In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import scipy.stats as stats

In [2]:
skin_cancer_df = pd.read_csv('..//Data//HAM10000_metadata.csv')
clean_skin_df = skin_cancer_df.dropna(axis= 'rows')
clean_skin_df = skin_cancer_df.dropna(axis= 'rows')
clean_skin_df = clean_skin_df.loc[clean_skin_df['sex'] != 'unknown']
clean_skin_df = clean_skin_df.loc[clean_skin_df['localization'] != 'unknown']
clean_skin_df.head()

     lesion_id      image_id   dx dx_type   age   sex localization
0  HAM_0000118  ISIC_0027419  bkl   histo  80.0  male        scalp
1  HAM_0000118  ISIC_0025030  bkl   histo  80.0  male        scalp
2  HAM_0002730  ISIC_0026769  bkl   histo  80.0  male        scalp
3  HAM_0002730  ISIC_0025661  bkl   histo  80.0  male        scalp
4  HAM_0001466  ISIC_0031633  bkl   histo  75.0  male          ear

In [3]:
#  clean_skin_df = clean_skin_df.set_index('bkl')
# clean_skin_df.head()

to_drop = ['lesion_id',
            'image_id',
            'dx_type',
           'localization',
            'dx_type'
          ]

clean_skin_df.drop(to_drop, inplace=True, axis=1)

In [4]:
 clean_skin_df.value_counts()

dx     age   sex
nv     45.0  female    575
             male      506
       50.0  female    492
             male      432
       40.0  female    401
                      ...
mel    5.0   male        1
vasc   40.0  female      1
bcc    20.0  female      1
vasc   30.0  male        1
akiec  30.0  male        1
Length: 184, dtype: int64

In [5]:

clean_skin_df = clean_skin_df.set_index('dx')

bkl_dx=clean_skin_df.loc["bkl"]
bkl=bkl_dx.value_counts()
bkl.head()

age   sex
70.0  male      99
75.0  male      94
70.0  female    84
60.0  female    83
80.0  male      77
dtype: int64

In [6]:
#mean for female with Bkl diagnosis 
female_with_bkl = bkl_dx[bkl_dx["sex"] == 'female']
female_with_bkl['age'].mean()

62.418655097613886

In [7]:
#mean for female with Bkl diagnosis 
male_with_bkl = bkl_dx[bkl_dx["sex"] == 'male']
male_with_bkl['age'].mean()

65.82926829268293

In [8]:
stats.ttest_ind(female_with_bkl.age, male_with_bkl.age, equal_var=False)

Ttest_indResult(statistic=-3.9637425771086563, pvalue=7.905966344934406e-05)

In [10]:
nv_dx=clean_skin_df.loc["nv"]
nv=nv_dx.value_counts()
nv.head()

age   sex
45.0  female    575
      male      506
50.0  female    492
      male      432
40.0  female    401
dtype: int64

In [11]:
#mean for female with nv diagnosis 
female_with_nv = nv_dx[nv_dx["sex"] == 'female']
female_with_nv['age'].mean()

44.17753738466433

In [12]:
#mean for female with Bkl diagnosis 
male_with_nv = nv_dx[nv_dx["sex"] == 'male']
male_with_nv['age'].mean()

48.83960573476703

In [13]:
stats.ttest_ind(female_with_nv.age, male_with_nv.age, equal_var=False)

Ttest_indResult(statistic=-12.551170922436889, pvalue=1.0191723642186528e-35)