In [2]:
import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt
import numpy as np
import requests
import time
import pandas as pd
import scipy.stats as stats
from scipy.stats import linregress

In [3]:
# original df
df = pd.read_csv('HAM10000_metadata.csv')
df.count()

# clean data
clean_df = df.dropna(axis= 'rows')
clean_df = clean_df.loc[clean_df['sex'] != 'unknown']
clean_df = clean_df.loc[clean_df['localization'] != 'unknown']
clean_df.count()

#add 'Age Groups' column
bins = [0, 39.9 ,49.9, 59.9, 69.9, 79.9, 100]
group_names = ['Under Forty', 'Forties', 'Fifties', 'Sixties', 'Seventies', 'Over Eighty']

clean_df2 = clean_df
clean_df2['Age Groups'] = pd.cut(clean_df2['age'], bins, labels=group_names, include_lowest=True)

In [8]:
clean_df2

,lesion_id,image_id,dx,dx_type,age,sex,localization,Age Groups
0,HAM_0000118,ISIC_0027419,bkl,histo,80.0,male,scalp,Over Eighty
1,HAM_0000118,ISIC_0025030,bkl,histo,80.0,male,scalp,Over Eighty
2,HAM_0002730,ISIC_0026769,bkl,histo,80.0,male,scalp,Over Eighty
3,HAM_0002730,ISIC_0025661,bkl,histo,80.0,male,scalp,Over Eighty
4,HAM_0001466,ISIC_0031633,bkl,histo,75.0,male,ear,Seventies
...,...,...,...,...,...,...,...,...
10010,HAM_0002867,ISIC_0033084,akiec,histo,40.0,male,abdomen,Forties
10011,HAM_0002867,ISIC_0033550,akiec,histo,40.0,male,abdomen,Forties
10012,HAM_0002867,ISIC_0033536,akiec,histo,40.0,male,abdomen,Forties
10013,HAM_0000239,ISIC_0032854,akiec,histo,80.0,male,face,Over Eighty
10014,HAM_0003521,ISIC_0032258,mel,histo,70.0,female,back,Seventies

In [14]:
#female
females = clean_df2[clean_df2["sex"] == 'female']
females['age'].mean()

48.837862115427804

In [15]:
#male
males = clean_df2[clean_df2["sex"] == 'male']
males.age.mean()

54.650527505651844

In [17]:
# Calculate Independent (Two Sample) t-test
stats.ttest_ind(females.age, males.age, equal_var=False)

Ttest_indResult(statistic=-17.193764700361324, pvalue=2.7815122909914204e-65)

In [22]:
# Extract individual groups
group0 = clean_df2[clean_df2["Age Groups"] == 'Under Forty']["sex"].value_counts()
group1 = clean_df2[clean_df2["Age Groups"] == "Forties"]["sex"].value_counts()
group2 = clean_df2[clean_df2["Age Groups"] == 'Fifties']["sex"].value_counts()
group3 = clean_df2[clean_df2["Age Groups"] == 'Sixties']["sex"].value_counts()
group4 = clean_df2[clean_df2["Age Groups"] == 'Seventies']["sex"].value_counts()
group5 = clean_df2[clean_df2["Age Groups"] == 'Over Eighty']["sex"].value_counts()

In [23]:
#ANOVA
stats.f_oneway(group0, group1, group2, group3, group4, group5)

F_onewayResult(statistic=4.147250583600046, pvalue=0.056312442620665655)