In [113]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress

In [114]:
skin_cancer_df = pd.read_csv('HAM10000_metadata.csv')
clean_skin_df = skin_cancer_df.dropna(axis= 'rows')
clean_skin_df = skin_cancer_df.dropna(axis= 'rows')
clean_skin_df = clean_skin_df.loc[clean_skin_df['sex'] != 'unknown']
clean_skin_df = clean_skin_df.loc[clean_skin_df['localization'] != 'unknown']
clean_skin_df.head()

     lesion_id      image_id   dx dx_type   age   sex localization
0  HAM_0000118  ISIC_0027419  bkl   histo  80.0  male        scalp
1  HAM_0000118  ISIC_0025030  bkl   histo  80.0  male        scalp
2  HAM_0002730  ISIC_0026769  bkl   histo  80.0  male        scalp
3  HAM_0002730  ISIC_0025661  bkl   histo  80.0  male        scalp
4  HAM_0001466  ISIC_0031633  bkl   histo  75.0  male          ear

In [115]:
#  clean_skin_df = clean_skin_df.set_index('bkl')
# clean_skin_df.head()

to_drop = ['lesion_id',
            'image_id',
            'dx_type',
           'localization',
           'sex',
            'dx_type'
          ]

clean_skin_df.drop(to_drop, inplace=True, axis=1)

In [116]:
clean_skin_df.head()

    dx   age
0  bkl  80.0
1  bkl  80.0
2  bkl  80.0
3  bkl  80.0
4  bkl  75.0

In [117]:
#clean_skin_df['dx'].is_unique
clean_skin_df = clean_skin_df.set_index('dx')
bkl_dx=clean_skin_df.loc["bkl"]
bkl_dx.count()

age    1076
dtype: int64